/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

.shadow-custom {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-shadow {
    text-shadow: 1px 2px 4px theme("colors.backgroundMain");
}

.text-shadow-hover {
    transition: 0.25s ease-out text-shadow;
}
.text-shadow-hover:hover {
    text-shadow: 1px 1px 2px theme("colors.backgroundMain"),
        0 0 4px theme("colors.textShadowLight");
}

.sliding-transition {
    transition: 0.5s ease-out transform;
}

.header-gradient {
    background: linear-gradient(
        to bottom,
        theme("colors.headerTop"),
        theme("colors.headerBackground")
    );
}

.button-gradient {
    background: linear-gradient(
        to bottom,
        theme("colors.buttonTop"),
        theme("colors.buttonBackground")
    );
}

.card-el {
    @apply px-5 py-5 shadow-custom bg-cardBackground;
}

.event-el {
    @apply p-3 text-xl shadow-custom bg-eventBackground;
}
