<template>
    <article
        class="relative w-56 mb-2 rounded cursor-pointer card"
        :class="currBgColorStyle"
        v-if="card"
        @click="shouldShow = !shouldShow"
    >
        <h1
            class="relative flex items-center justify-between px-3 py-2 mb-1 font-semibold rounded rounded-b-none"
            :class="currBgColorStyle"
        >
            {{ card.name }}
            <div class="flex">
                <img
                    class="w-4 h-4"
                    v-for="(symbol, i) in manaCost"
                    :src="getSymbolSrc(symbol)"
                    :key="`${symbol}${i}`"
                />
            </div>
        </h1>
        <div
            class="relative flex items-center justify-between px-3 pb-1 mb-1 type"
            :class="currBgColorStyle"
        >
            {{ card.type_line }}

            <img
                class="object-contain h-4"
                :src="`@/assets/img/rarity/m21/${card.rarity}.png`"
                :alt="`${card.rarity} set symbol`"
            />
        </div>
        <!-- <p>{{ card.type_line }}</p> -->
        <p v-if="shouldShow" class="relative px-3 py-2">
            {{ card.oracle_text }}
        </p>
    </article>
    <article v-else>Oops.</article>
</template>

<script lang="ts">
import { computed, ref, watchEffect } from "vue";
import { ScryfallCard } from "../logic/types";
// @ts-ignore
import { default as symbols } from "../assets/json/symbols.json";
</script>

<script setup="props" lang="ts">
export default {
    name: "Card",
};
declare const props: {
    card: ScryfallCard;
};
// console.log(symbols);
export const manaCost = computed(
    () => props.card?.mana_cost.match(/\{[\w\d\/]+\}/g) ?? []
);

export const getSymbolSrc = (symbol: string) => symbols[symbol];

export const isCurrColor = (
    color: "W" | "U" | "B" | "R" | "G" | "colorless" | "gold"
) => {
    const currColors = props.card.colors;
    if (color !== "colorless" && color !== "gold")
        return currColors.includes(color) && currColors.length === 1;
    if (color === "gold") return currColors.length > 1;
    return currColors.length === 0;
};

export const currBgColorStyle = computed(() => ({
    "bg-magicWhite": isCurrColor("W"),
    "bg-magicBlue": isCurrColor("U"),
    "bg-magicBlack": isCurrColor("B"),
    "bg-magicRed": isCurrColor("R"),
    "bg-magicGreen": isCurrColor("G"),
    "bg-magicColorless": isCurrColor("colorless"),
    "bg-magicGold": isCurrColor("gold"),
}));

export const shouldShow = ref(false);
</script>
<style lang="postcss">
.card:before {
    content: "";
    @apply absolute h-full w-full bg-gradient-to-b from-gray-700 to-black top-0 left-0;
    opacity: 0.2;
}

.title:before {
    content: "";
    @apply absolute h-full w-full bg-white top-0 left-0;
    opacity: 0.05;
}
</style>
