<template>
    <section class="flex pl-5 text-lg">
        <div class="flex items-center mr-3">
            <span class="flex mr-3">Colors:</span>
            <div class="flex" v-for="color in colors" :key="color">
                <label :for="`color${color}`">
                    <img
                        class="w-4 h-4 mr-1 cursor-pointer"
                        :src="getSymbolSrc(`{${color}}`)"
                    />
                </label>
                <input
                    :name="`color${color}`"
                    :id="`color${color}`"
                    @click="colorWasToggled($event, color)"
                    type="checkbox"
                    class="mr-3 cursor-pointer"
                />
            </div>
        </div>
        <div class="flex items-center mr-3">
            <div class="flex">
                <label for="CMC">
                    <span class="flex mr-3">CMC ≤</span>
                </label>
                <input
                    name="CMC"
                    id="CMC"
                    @change="CMCWasToggled($event)"
                    type="number"
                    class="w-12 pl-2 mr-3 bg-gray-900 appearance-none"
                />
            </div>
        </div>
        <div class="flex items-center mr-3">
            <span class="flex mr-3">Types:</span>
            <div class="inline-flex" v-for="type in types" :key="type">
                <label class="mr-2 cursor-pointer" :for="`type${type}`">
                    {{ type }}
                </label>
                <input
                    :name="`type${type}`"
                    :id="`type${type}`"
                    @click="typeWasToggled($event, type)"
                    type="checkbox"
                    class="mr-3 cursor-pointer"
                />
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import { ref } from "vue";
// @ts-ignore
import { default as cards } from "./assets/json/cards.json";
// import { ScryfallCard } from "./logic/types";
// @ts-ignore
import { default as symbols } from "../assets/json/symbols.json";
</script>
<script setup="props, {emit}" lang="ts">
export default {
    name: "CardFilters",
};
export const getSymbolSrc = (symbol: string) => symbols[symbol];
declare const props: {
    colors: ["W", "U", "B", "R", "G"];
};
declare const emit: (eventName: string, payload?: unknown) => void;
export const colorWasToggled = (
    event: MouseEvent,
    color: typeof props["colors"]
) => {
    emit("paramsToggled", {
        type: "colors",
        key: color,
        value: (event.target as HTMLInputElement).checked,
    });
};
export const CMCWasToggled = (event: MouseEvent, color: number) => {
    emit("paramsToggled", {
        type: "CMC",
        value: Number((event.target as HTMLInputElement).value),
    });
};
export const types: ["Instant", "Sorcery", "Aura", "Artifact", "Creature"] = [
    "Instant",
    "Sorcery",
    "Aura",
    "Artifact",
    "Creature",
];
export const typeWasToggled = (
    event: MouseEvent,
    type: typeof types[number]
) => {
    emit("paramsToggled", {
        type: "types",
        key: type,
        value: (event.target as HTMLInputElement).checked,
    });
};
</script>

<style lang="postcss"></style>
