<template>
    <section
        v-if="currCards?.length"
        class="px-2 py-2 mr-2 bg-gray-900 rounded-sm"
    >
        <card v-for="card in currCards" :key="card.id" v-bind="{ card }" />
    </section>
</template>

<script lang="ts">
import { computed } from "vue";
import { ScryfallCard } from "../logic/types";
import Card from "../components/Card.vue";
</script>
<script setup="props" lang="ts">
export default {
    name: "ColorColumn",
    components: {
        Card,
    },
};

declare const props: {
    cards: Array<ScryfallCard>;
    color: "W" | "U" | "B" | "R" | "G" | "colorless" | "gold";
};
export const cardIsCurrColor = (
    card: ScryfallCard,
    color: "W" | "U" | "B" | "R" | "G" | "colorless" | "gold"
) => {
    const currColors = card.colors;
    if (color !== "colorless" && color !== "gold")
        return currColors.includes(color) && currColors.length === 1;
    if (color === "gold") return currColors.length > 1;
    return currColors.length === 0;
};
export const currCards = computed(() =>
    props.cards.filter((card) => cardIsCurrColor(card, props.color))
);
</script>

<style lang="postcss"></style>
