<template>
    <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
    <!-- <card v-for="card in currCards" :key="card.id" v-bind="{ card }" /> -->
    <main class="flex flex-col items-start justify-start px-4 pt-4">
        <card-filters
            @paramsToggled="toggleParams($event)"
            :colors="magicColors"
            class="mb-3"
        />
        <div class="flex items-start">
            <color-column
                v-for="color in colors"
                :cards="currCards"
                v-bind="{ color }"
                :key="color"
            />
        </div>
    </main>
</template>

<script lang="ts">
import { computed, reactive, ref, watchEffect } from "vue";
// @ts-ignore
import { default as cards } from "./assets/json/cards.json";
import { ScryfallCard } from "./logic/types";
import CardFilters from "./components/CardFilters.vue";
import ColorColumn from "./components/ColorColumn.vue";
</script>
<script setup lang="ts">
export default {
    name: "App",
    components: {
        CardFilters,
        ColorColumn,
    },
};
// console.log(cards);
export const colors: ["W", "U", "B", "R", "G", "colorless", "gold"] = [
    "W",
    "U",
    "B",
    "R",
    "G",
    "colorless",
    "gold",
];

export const magicColors: ["W", "U", "B", "R", "G"] = ["W", "U", "B", "R", "G"];
export const params = reactive({
    colors: {
        W: false,
        U: false,
        B: false,
        R: false,
        G: false,
    },
    CMC: 0,
    types: {
        Instant: false,
        Sorcery: false,
        Aura: false,
        Artifact: false,
        Creature: false,
    },
});

export const currCards = computed(() =>
    (cards as Array<ScryfallCard>)
        .filter((card) =>
            Object.values(params.colors).some((color) => color) &&
            card.colors.length
                ? card.colors.every((cardColor) =>
                      Object.keys(params.colors)
                          .filter((color) => params.colors[color])
                          .includes(cardColor)
                  )
                : true
        )
        .filter((card) => !params.CMC || card.cmc <= params.CMC)
        .filter(
            (card) =>
                Object.values(params.types).every((type) => !type) ||
                Object.keys(params.types)
                    .filter((type) => params.types[type])
                    .some((type) => card.type_line.includes(type))
        )
        .sort((a, b) => a.cmc - b.cmc)
);

export const toggleParams = ({
    type,
    key,
    value,
}: {
    type: keyof typeof params;
    key?: keyof typeof params["colors"];
    value: boolean | number;
}) => {
    console.log(type, key, value);
    if (type === "colors" || type === "types")
        params[type][key] = value as boolean;
    else params[type] = value as number;
};
</script>

<style lang="postcss">
body {
    @apply bg-backgroundMain text-textMain;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
</style>
